[Desktop Entry]
Version=1.0
Name=snt
Comment=Simple new Terminal
Exec=/usr/bin/snt
Icon=/usr/share/icons/hicolor/512x512/apps/snt.png
Terminal=false
Type=Application
